flet==0.4.0  # Версия Flet, которую вы используете
Pillow==9.4.0  # Для работы с изображениями (PIL)
requests==2.31.0  # Для HTTP-запросов
pyinstaller==5.13.0  # Для сборки приложения в исполняемый файл
urllib3==2.0.5  # Библиотека для работы с HTTP-запросами (используется внутри requests)
asyncio==3.4.3  # Для асинхронных операций в Flet